@@include('modules/header.html', {"title": "Home", "class": ""})
<div id="breadcrumb">
	<div class="container">
		<div class="vec-breadcrumb">
			<a href="/" title="Trang chủ">Trang chủ</a> <img src="assets/images/icons/arrow-breadcrumb.svg"> <a href="http://enlio.vn/tham-san-the-thao/">Tư vấn đầu tư thể thao</a> <img src="assets/images/icons/arrow-breadcrumb.svg"> <span>Cỏ nhân tạo làm sân chơi</span>
		</div>
	</div>
</div>
<div class="content-co-nhan-tao">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<h2 class="category-title">Cỏ nhân tạo làm sân chơi</h2>
				<div class="co-nhan-tao-box">
					<div class="box-img">
						<a href="#" title="#"><img src="assets/images/product/tuvanthethao-tv1.png" alt="title"></a>
					</div>
					<div class="box-title">
						<h3><a href="#" title="#">Sân chơi cỏ nhân tạo trong nhà, tại sao không?</a></h3>
					</div>
				</div>
				<div class="list-item">
					<div class="item">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<a href="#" title="#"><img src="assets/images/product/tuvanthethao-tv2.png" alt="title"></a>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8">
								<div class="item-content">
									<h4><a href="#" title="#">Dự án sân Tennis xuyên Việt</a></h4>
									<p>Tại Việt Nam, hàng loạt các công trình sử dụng cỏ nhân tạo cũng đã được ra đời, trong đó phải kể đến: cỏ nhân tạo sân vườn, sân golf tại tòa nhà KeangNam (Hà Nội), sân bóng đá cỏ.</p>
									<a href="#" title="#" class="xem-them">Xem thêm</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<a href="#" title="#"><img src="assets/images/product/tuvanthethao-tv3.png" alt="title"></a>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8">
								<div class="item-content">
									<h4><a href="#" title="#">Dự án sân Tennis xuyên Việt</a></h4>
									<p>Tại Việt Nam, hàng loạt các công trình sử dụng cỏ nhân tạo cũng đã được ra đời, trong đó phải kể đến: cỏ nhân tạo sân vườn, sân golf tại tòa nhà KeangNam (Hà Nội), sân bóng đá cỏ.</p>
									<a href="#" title="#" class="xem-them">Xem thêm</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<a href="#" title="#"><img src="assets/images/product/tuvanthethao-tv4.png" alt="title"></a>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8">
								<div class="item-content">
									<h4><a href="#" title="#">Dự án sân Tennis xuyên Việt</a></h4>
									<p>Tại Việt Nam, hàng loạt các công trình sử dụng cỏ nhân tạo cũng đã được ra đời, trong đó phải kể đến: cỏ nhân tạo sân vườn, sân golf tại tòa nhà KeangNam (Hà Nội), sân bóng đá cỏ.</p>
									<a href="#" title="#" class="xem-them">Xem thêm</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<a href="#" title="#"><img src="assets/images/product/tuvanthethao-tv5.png" alt="title"></a>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8">
								<div class="item-content">
									<h4><a href="#" title="#">Dự án sân Tennis xuyên Việt</a></h4>
									<p>Tại Việt Nam, hàng loạt các công trình sử dụng cỏ nhân tạo cũng đã được ra đời, trong đó phải kể đến: cỏ nhân tạo sân vườn, sân golf tại tòa nhà KeangNam (Hà Nội), sân bóng đá cỏ.</p>
									<a href="#" title="#" class="xem-them">Xem thêm</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<a href="#" title="#"><img src="assets/images/product/tuvanthethao-tv6.png" alt="title"></a>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8">
								<div class="item-content">
									<h4><a href="#" title="#">Dự án sân Tennis xuyên Việt</a></h4>
									<p>Tại Việt Nam, hàng loạt các công trình sử dụng cỏ nhân tạo cũng đã được ra đời, trong đó phải kể đến: cỏ nhân tạo sân vườn, sân golf tại tòa nhà KeangNam (Hà Nội), sân bóng đá cỏ.</p>
									<a href="#" title="#" class="xem-them">Xem thêm</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<a href="#" title="#"><img src="assets/images/product/tuvanthethao-tv7.png" alt="title"></a>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8">
								<div class="item-content">
									<h4><a href="#" title="#">Dự án sân Tennis xuyên Việt</a></h4>
									<p>Tại Việt Nam, hàng loạt các công trình sử dụng cỏ nhân tạo cũng đã được ra đời, trong đó phải kể đến: cỏ nhân tạo sân vườn, sân golf tại tòa nhà KeangNam (Hà Nội), sân bóng đá cỏ.</p>
									<a href="#" title="#" class="xem-them">Xem thêm</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="blog-pagination">
					<div class="wp-pagenavi">
						<span class="current">1</span>
						<a href="3" class="page larger" title="#">2</a>
						<a href="3" class="page larger" title="#">3</a>
						<a href="3" class="page larger" title="#">4</a>
						<a href="3" class="page larger" title="#">>></a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="list-video">
					<h2 class="category-title">Video</h2>
					<div class="co-nhan-tao-video">
						<div class="box-img">
							<video width="100%" height="auto" controls>
								<source src="assets/images/video/movie.mp4" type="video/mp4">
							</video>
						</div>
						<div class="box-title">
							<h4 class="post-title"><a href="#" title="#">Sân chơi cỏ nhân tạo trong nhà, tại sao không?</a></h4>
							<p class="post-content">Bảo dưỡng, sửa chữa cỏ nhân tạo bằng công nghệ mới là giải pháp tối ưu nhất cho các chủ đầu tư kinh doanh sân bóng mini.</p>
						</div>
					</div>
					<div class="list-item lien-quan">
						<div class="item">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<video width="100%" height="auto" controls>
										<source src="assets/images/video/movie.mp4" type="video/mp4">
									</video>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 video-title">
									<div class="item-content">
										<h4><a href="#" title="#">Thi công sân vườn cỏ nhân tạo - Tự làm sân vườn cỏ nhân tạo</a></h4>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<video width="100%" height="auto" controls>
										<source src="assets/images/video/movie.mp4" type="video/mp4">
									</video>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 video-title">
									<div class="item-content">
										<h4><a href="#" title="#">Thi công sân vườn cỏ nhân tạo - Tự làm sân vườn cỏ nhân tạo</a></h4>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<video width="100%" height="auto" controls>
										<source src="assets/images/video/movie.mp4" type="video/mp4">
									</video>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 video-title">
									<div class="item-content">
										<h4 ><a href="#" title="#">Thi công sân vườn cỏ nhân tạo - Tự làm sân vườn cỏ nhân tạo</a></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="list-video">
					<h2 class="category-title">Tin tức mới</h2>
					<div class="list-item lien-quan">
						<div class="item">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<a href="#" title="title"><img src="assets/images/banner/0000468.jpg"></a>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 video-title">
									<div class="item-content">
										<h4><a href="#" title="#">Thi công sân vườn cỏ nhân tạo - Tự làm sân vườn cỏ nhân tạo</a></h4>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<a href="#" title="title"><img src="assets/images/banner/0000468.jpg"></a>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 video-title">
									<div class="item-content">
										<h4><a href="#" title="#">Thi công sân vườn cỏ nhân tạo - Tự làm sân vườn cỏ nhân tạo</a></h4>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<a href="#" title="title"><img src="assets/images/banner/0000468.jpg"></a>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 video-title">
									<div class="item-content">
										<h4 ><a href="#" title="#">Thi công sân vườn cỏ nhân tạo - Tự làm sân vườn cỏ nhân tạo</a></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@@include('modules/footer.html')