@@include('modules/header.html', {"title": "Home", "class": ""})

<div class="main">
	<section class="top-slider">
		<div class="container">
			<div class="row">
				<div id="slider" class="flexslider col-xs-12 col-md-8">
				  <ul class="slides">
				    <li>
				      	<img src="assets/images/banner/0000468.jpg">
				      	<div class="col-xs-12 col-sm-8 col-md-6 title-slider">
					      	<h2>Cỏ nhân tạo sân bóng</h2>
					      	<p>VEC Group cung cấp cỏ nhân tạo chất lượng cao tiêu chuẩn 1 sao, 2 sao của Fifa. Bảo hành 5-7 năm.</p>
					      	<a href="#" title="#">Xem chi tiết</a>
					    </div>
				    </li>
				    <li>
				      	<img src="assets/images/banner/0000469.jpg">
				      	<div class="col-xs-12 col-sm-8 col-md-6 title-slider">
					      	<h2>Cỏ nhân tạo sân bóng</h2>
					      	<p>VEC Group cung cấp cỏ nhân tạo chất lượng cao tiêu chuẩn 1 sao, 2 sao của Fifa. Bảo hành 5-7 năm.</p>
					      	<a href="#" title="#">Xem chi tiết</a>
					    </div>
				    </li>
				    <li>
				      	<img src="assets/images/banner/0000470.jpg">
				      	<div class="col-xs-12 col-sm-8 col-md-6 title-slider">
					      	<h2>Cỏ nhân tạo sân bóng</h2>
					      	<p>VEC Group cung cấp cỏ nhân tạo chất lượng cao tiêu chuẩn 1 sao, 2 sao của Fifa. Bảo hành 5-7 năm.</p>
					      	<a href="#" title="#">Xem chi tiết</a>
					    </div>
				    </li>
				    <li>
				      	<img src="assets/images/banner/0000602.jpg">
				      	<div class="col-xs-12 col-sm-8 col-md-6 title-slider">
					      	<h2>Cỏ nhân tạo sân bóng</h2>
					      	<p>VEC Group cung cấp cỏ nhân tạo chất lượng cao tiêu chuẩn 1 sao, 2 sao của Fifa. Bảo hành 5-7 năm.</p>
					      	<a href="#" title="#">Xem chi tiết</a>
					    </div>
				    </li>
				    <!-- items mirrored twice, total of 12 -->
				  </ul>
				</div>
				<div id="carousel" class="flexslider col-xs-12 col-md-4">
				  <ul class="slides">
				    <li>
				      <div class="col-xs-7">
				      	<span>Cỏ nhân tạo sân bóng</span>
				      </div>
				      <div class="col-xs-5">
				      	<img src="assets/images/banner/0000468.jpg">
				      </div>
				    </li>
				    <li>
				      <div class="col-xs-7">
				      	<span>Cỏ nhân tạo sân bóng</span>
				      </div>
				      <div class="col-xs-5">
				      	<img src="assets/images/banner/0000469.jpg">
				      </div>
				    </li>
				    <li>
				      <div class="col-xs-7">
				      	<span>Cỏ nhân tạo sân bóng</span>
				      </div>
				      <div class="col-xs-5">
				      	<img src="assets/images/banner/0000470.jpg">
				      </div>
				    </li>
				    <li>
				      <div class="col-xs-7">
				      	<span>Cỏ nhân tạo sân bóng</span>
				      </div>
				      <div class="col-xs-5">
				      	<img src="assets/images/banner/0000602.jpg">
				      </div>
				    </li>
				    <!-- items mirrored twice, total of 12 -->
				  </ul>
				</div>
			</div>
		</div>
	</section>
	<section class="home-layout-1">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-xs-12 home-layout-1_loop">
					<h2 class="category-title">
						<a href="#" title="#">
							Thảm sàn cầu lông
						</a>
					</h2>
					<div class="post-list">
						<div class="category-list-product">
							<div class="row">
								<div class="col-md-5 col-xs-5">
									<a href="#" title="#" class="photo">
										<img src="assets/images/product/tin-tuc.jpg">
										<div class="glow-wrap">
											<i class="glow"></i>
										</div>
									</a>
								</div>
								<div class="col-md-7 col-xs-7">
									<h3 class="post-title"><a href="#" title="#">Thảm sàn cầu lông VBA-23145</a></h3>
									<p class="post-content">Nunc orci massa, tincidunt ac dolor at, pellentesque molestie lectus </p>
								</div>
							</div>
						</div>
						<div class="category-list-product">
							<div class="row">
								<div class="col-md-5 col-xs-5">
									<a href="#" title="#" class="photo">
										<img src="assets/images/product/tin-tuc.jpg">
										<div class="glow-wrap">
											<i class="glow"></i>
										</div>
									</a>
								</div>
								<div class="col-md-7 col-xs-5">
									<h3 class="post-title"><a href="#" title="#">Thảm sàn cầu lông VBA-23145</a></h3>
									<p class="post-content">Nunc orci massa, tincidunt ac dolor at, pellentesque molestie lectus </p>
								</div>
							</div>
						</div>
						<div class="category-list-product-detail">
							<a href="#" title="Xem thêm">Xem thêm</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 home-layout-1_loop">
					<h2 class="category-title">
						<a href="#" title="#">
							Thảm Đa Năng
						</a>
					</h2>
					<div class="post-list">
						<div class="category-list-product">
							<div class="row">
								<div class="col-md-5 col-xs-5">
									<a href="#" title="#" class="photo">
										<img src="assets/images/product/tin-tuc.jpg">
										<div class="glow-wrap">
											<i class="glow"></i>
										</div>
									</a>
								</div>
								<div class="col-md-7 col-xs-7">
									<h3 class="post-title"><a href="#" title="#">Thảm sàn cầu lông VBA-23145</a></h3>
									<p class="post-content">Nunc orci massa, tincidunt ac dolor at, pellentesque molestie lectus </p>
								</div>
							</div>
						</div>
						<div class="category-list-product">
							<div class="row">
								<div class="col-md-5 col-xs-5">
									<a href="#" title="#" class="photo">
										<img src="assets/images/product/tin-tuc.jpg">
										<div class="glow-wrap">
											<i class="glow"></i>
										</div>
									</a>
								</div>
								<div class="col-md-7 col-xs-7">
									<h3 class="post-title"><a href="#" title="#">Thảm sàn cầu lông VBA-23145</a></h3>
									<p class="post-content">Nunc orci massa, tincidunt ac dolor at, pellentesque molestie lectus </p>
								</div>
							</div>
						</div>
						<div class="category-list-product-detail">
							<a href="#" title="Xem thêm">Xem thêm</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 home-layout-1-end">
					<div class="gioi-thieu">
						<h2 class="category-title end-title">
							<a href="#" title="#">
								Vì Sao Bạn Nên Hợp Tác Với VECGROUP
							</a>
						</h2>
						<p>Hiện tại, Việt Nam có rất nhiều nhà cung cấp và thi công cỏ nhân tạo. Tuy nhiên để chọn ra được nhà cung cấp, thi công tốt nhất thì không quá khó. VEC Group tự hào là đơn vị cung cấp, phân phối và thi công cỏ nhân tạo…</p>
						<div class="category-list-product-detail">
							<a href="#" title="Xem thêm">Xem thêm</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="home-layout-1">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-xs-12 home-layout-1_loop">
					<h2 class="category-title">
						<a href="#" title="#">
							Giới thiệu
						</a>
					</h2>
					<div class="post-list">
						<div class="category-list-product">
							<a href="#" title="#" class="photo">
								<img src="assets/images/product/gioi-thieu-vec.jpg">
								<div class="glow-wrap">
									<i class="glow"></i>
								</div>
							</a>
							<p class="post-content content-intro">VEC xây dựng và phát triển mạng lưới nhập khẩu và phân phối sản phẩm cỏ nhân tạo có xuất xứ từ các nước Châu Âu, Châu Mỹ, Châu Á đã được FIFA chứng nhận đạt chuẩn thi đấu Quốc tế.</p>
						</div>
						<div class="category-list-product-detail">
							<a href="#" title="Xem thêm">Xem thêm</a>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-xs-12 home-layout-1_loop home-layout-tu-van">
					<h2 class="category-title">
						<a href="#" title="#">
							Thông tin tư vấn
						</a>
					</h2>
					<div class="post-list">
						<div class="row">
							<div class="col-md-6 col-xs-12">
								<div class="category-list-product">
									<div class="row">
										<div class="col-md-5 col-xs-5">
											<a href="#" title="#" class="photo">
												<img src="assets/images/product/Home-tttv1.png">
												<div class="glow-wrap">
													<i class="glow"></i>
												</div>
											</a>
										</div>
										<div class="col-md-7 col-xs-7">
											<p class="post-content"><a href="#" title="#" class="post-content post-content-hover">Mua thảm thi đấu ở đạt chuẩn chất lượng quốc tế ở đâu và giá rẻ nhất?</a></p>
										</div>
									</div>
								</div>
								<div class="category-list-product">
									<div class="row">
										<div class="col-md-5 col-xs-5">
											<a href="#" title="#" class="photo">
												<img src="assets/images/product/Home-tttv2.png">
												<div class="glow-wrap">
													<i class="glow"></i>
												</div>
											</a>
										</div>
										<div class="col-md-7 col-xs-7">
											<p class="post-content"><a href="#" title="#" class="post-content post-content-hover">Bảo dưỡng cỏ sân vườn như thế nào để tăng tuổi thọ?</a></p>
										</div>
									</div>
								</div>
								<div class="category-list-product">
									<div class="row">
										<div class="col-md-5 col-xs-5">
											<a href="#" title="#" class="photo">
												<img src="assets/images/product/Home-tttv3.png">
												<div class="glow-wrap">
													<i class="glow"></i>
												</div>
											</a>
										</div>
										<div class="col-md-7 col-xs-7">
											<p class="post-content"><a href="#" title="#" class="post-content post-content-hover">Thảm sàn chống trượt được ứng dụng phổ biến ở đâu?</a></p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xs-12">
								<div class="category-list-product">
									<div class="row">
										<div class="col-md-5 col-xs-5">
											<a href="#" title="#" class="photo">
												<img src="assets/images/product/Home-tttv4.png">
												<div class="glow-wrap">
													<i class="glow"></i>
												</div>
											</a>
										</div>
										<div class="col-md-7 col-xs-7">
											<p class="post-content"><a href="#" title="#" class="post-content post-content-hover">Bật mí cách lắp đặt cỏ sân vườn nhân tạo đúng phong thủy hút tài lộc vào nhà</a></p>
										</div>
									</div>
								</div>
								<div class="category-list-product">
									<div class="row">
										<div class="col-md-5 col-xs-5">
											<a href="#" title="#" class="photo">
												<img src="assets/images/product/Home-tttv5.png">
												<div class="glow-wrap">
													<i class="glow"></i>
												</div>
											</a>
										</div>
										<div class="col-md-7 col-xs-7">
											<p class="post-content"><a href="#" title="#" class="post-content post-content-hover">Tại sao phải dùng thảm trải sàn nhà thi đấu?</a></p>
										</div>
									</div>
								</div>
								<div class="category-list-product">
									<div class="row">
										<div class="col-md-5 col-xs-5">
											<a href="#" title="#" class="photo">
												<img src="assets/images/product/Home-tttv6.png">
												<div class="glow-wrap">
													<i class="glow"></i>
												</div>
											</a>
										</div>
										<div class="col-md-7 col-xs-7">
											<p class="post-content"><a href="#" title="#" class="post-content post-content-hover">Chọn thảm sàn bóng rổ cần chú ý điều gì?</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="category-list-product-detail">
							<a href="#" title="Xem thêm">Xem thêm</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	<section class="home-layout-2">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-6">
					<h2 class="category-title">
						<a href="#" title="#">
							Dự Án Tiêu Biểu
						</a>
					</h2>
				</div>
				<div class="col-md-6 col-xs-6">
					<div class="category-list-product-detail">
						<a href="#" title="Xem thêm">Xem thêm</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-xs-12">
					<div class="post-list">
						<div class="category-list-product">
							<a href="#" title="#" class="photo">
								<img src="assets/images/product/Home-datb1.png">
								<div class="glow-wrap">
									<i class="glow"></i>
								</div>
							</a>
							<h3 class="post-title"><a href="#" title="#">Thảm sàn cầu lông VBA-23145</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12">
					<div class="post-list">
						<div class="category-list-product">
							<a href="#" title="#" class="photo">
								<img src="assets/images/product/Home-datb2.png">
								<div class="glow-wrap">
									<i class="glow"></i>
								</div>
							</a>
							<h3 class="post-title"><a href="#" title="#">Dự án sân Tennis xuyên Việt</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12">
					<div class="post-list">
						<div class="category-list-product">
							<a href="#" title="#" class="photo">
								<img src="assets/images/product/Home-datb3.png">
								<div class="glow-wrap">
									<i class="glow"></i>
								</div>
							</a>
							<h3 class="post-title"><a href="#" title="#">Thảm sàn cầu lông VBA-23145</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>			
</div>

@@include('modules/footer.html')