@@include('modules/header.html', {"title": "Home", "class": ""})
<div id="breadcrumb">
	<div class="container">
		<div class="vec-breadcrumb">
			<a href="/" title="Trang chủ">Trang chủ</a> <img src="assets/images/icons/arrow-breadcrumb.svg"> <a href="http://enlio.vn/tham-san-the-thao/">Thảm sàn thể thao</a> <img src="assets/images/icons/arrow-breadcrumb.svg"> <span>Thảm sàn cầu lông</span>
		</div>
	</div>
</div>
<div class="content content-single-tham-san">
	<div class="content-top">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="content-top-left">
						<h1 class="category-title">Thảm sàn cầu lông VBA-23145</h1>
						<div class="facebook">
							<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
						</div>
						<div class="tham-san-content">
							<p class="post-content">HIn feugiat, libero sed vestibulum tristique, mi leo ornare ante, a malesuada turpis nisi vitae lorem. Nam quis ligula mi. </p>
							<p class="post-content">Aenean commodo nisi sed ipsum luctus, ut volutpat leo dictum. Vivamus volutpat elementum tincidunt. Cras volutpat magna tristique dolor tincidunt, eu venenatis massa egestas.</p> 

							<p class="post-content">Vestibulum venenatis dignissim volutpat. Pellentesque sed ex pharetra, lobortis urna in, pretium justo. Nam placerat sagittis purus, eu egestas lorem ultricies id. Nam et odio ut enim efficitur faucibus. Nunc gravida urna eget lacus blandit. Ut eu convallis nulla, a vehicula lectus.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<img src="assets/images/banner/san-cau-long.jpg">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3>Thông số kỹ thuật</h3>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Công suất:</th>
								<th>Điện áp:</th>
								<th>Ánh sáng:</th>
								<th>Quang thông:</th>
								<th>Kích thước:</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Lorem ipsum</td>
								<td>Lorem ipsum</td>
								<td>Lorem ipsum</td>
								<td>Lorem ipsum</td>
								<td>Lorem ipsum</td>
							</tr>
						</tbody>
					</table>
					<div class="tham-san-content">
						<p class="post-content">Aliquam sed dolor ut dolor egestas convallis. Donec tempus lorem orci, nec mattis nisl eleifend eget. Cras tempus, odio non vestibulum efficitur, ipsum erat luctus arcu, eu vestibulum augue nisl ac risus. Fusce egestas ipsum nec dapibus accumsan. Nullam vel sodales libero. Vestibulum dapibus magna id tellus feugiat, in hendrerit turpis pretium. Nulla quis purus arcu. Suspendisse dignissim, lorem sed pharetra iaculis, urna dui malesuada lacus, vitae faucibus ligula lacus ultrices tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin eu elit dolor. Aliquam erat volutpat. Duis tempor ut quam et ultrices. Donec finibus ornare diam, non laoreet libero accumsan quis.</p>
						<p class="post-content">Praesent ac sapien id lorem accumsan tristique. Curabitur sed quam ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas iaculis neque in ipsum euismod accumsan. Duis in velit id tellus ullamcorper aliquet vitae id lacus. Cras fermentum eleifend sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis suscipit turpis. Curabitur urna leo, volutpat vitae elit et, pharetra dapibus purus. Vivamus condimentum ante sagittis erat tempor placerat. Fusce eu turpis tincidunt, vulputate dolor quis, convallis lacus. Nunc dictum eros et est tempus, quis condimentum libero malesuada.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<h3>Hình ảnh</h3>
				<div class="col-md-2 col-xs-6 col-sm-4">
					<img src="assets/images/product/">
				</div>
				<div class="col-md-2 col-xs-6 col-sm-4"></div>
				<div class="col-md-2 col-xs-6 col-sm-4"></div>
				<div class="col-md-2 col-xs-6 col-sm-4"></div>
				<div class="col-md-2 col-xs-6 col-sm-4"></div>
				<div class="col-md-2 col-xs-6 col-sm-4"></div>
			</div>
		</div>
	</div>
</div>
@@include('modules/footer.html')