		<footer>
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-xs-12 register">
							<img src="assets/images/icons/mail-newsletter.svg">
							<h3 class="footer-title">Đăng ký nhận báo giá và quà tặng?</h3>
						</div>
						<div class="col-md-8 col-xs-12">
							<form action="" method="" class="form-inline">
								<div class="input-group col-md-3 col-sm-12 col-xs-12">
								    <input type="text" class="form-control"  placeholder="Họ tên">
								 </div>
								 <div class="input-group col-md-3 col-sm-12 col-xs-12">
								    <input type="text" class="form-control" placeholder="Điện thoại">
								 </div>
								 <div class="input-group col-md-3 col-sm-12 col-xs-12">
								    <input type="text" class="form-control" placeholder="Địa chỉ email">
								 </div>
								 <button type="submit" class="btn submit">Đăng ký</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="services">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-3 ">
							<div class="services-item">
								<div class="services-icon">
									<img src="assets/images/icons/mien-phi-van-chuyen.svg">
								</div>
								<div class="services-content">
									<h4>Miễn phí vận chuyển</h4>
									<p>Cho đơn hàng trên 500k</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-3">
							<div class="services-item">
								<div class="services-icon">
									<img src="assets/images/icons/cam-ket-chinh-hang.svg">
								</div>
								<div class="services-content">
									<h4>Cam kết chính hãng</h4>
									<p>Đảm bảo chất lượng 100%</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-3">
							<div class="services-item">
								<div class="services-icon">
									<img src="assets/images/icons/ho-tro-tu-van.svg">
								</div>
								<div class="services-content">
									<h4>Hỗ trợ tư vấn</h4>
									<p>Thứ 2 - thứ 7: 08h30 - 17h30</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-3">
							<div class="services-item">
								<div class="services-icon">
									<img src="assets/images/icons/hotline.svg">
								</div>
								<div class="services-content">
									<h4>1900 2600</h4>
									<p>Gọi cho chúng tôi để đặt hàng ngay</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-list-menu">
				<div class="footer-list-menu-top">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-12 col-xs-12">
								<img src="assets/images/banner/vec-logo.png" class="logo-footer">
								<p>Thế giới thể thao là Công ty trực thuộc \u2028VEC Group. Chúng tôi mong muốn cung cấp cho khách hàng những những sản phẩm tiêu chuẩn quốc tế về chất lượng với giá thành hợp lý và thời gian cung cấp nhanh chóng.</p>
							</div>
							<div class="col-md-9 col-sm-12 col-xs-12 footer-right">
								<div class="row">
									<div class="col-md-3 col-sm-12 col-xs-12">
										<div class="footer-item">
											<h3 class="footer-item-title">Thế giới thể thao</h3>
											<ul>
												<li><a href="#" title="#">Giới thiệu</a></li>
												<li><a href="#" title="#">Liên hệ</a></li>
												<li><a href="#" title="#">Chứng chỉ chất lượng</a></li>
												<li><a href="#" title="#">Đối tác của thế giới thể thao</a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-3 col-sm-12 col-xs-12">
										<div class="footer-item">
											<h3 class="footer-item-title">Hướng dẫn</h3>
											<ul>
												<li><a href="#" title="#">Mua hàng</a></li>
												<li><a href="#" title="#">Thanh toán</a></li>
												<li><a href="#" title="#">Giao nhận</a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-3 col-sm-12 col-xs-12">
										<div class="footer-item">
											<h3 class="footer-item-title">Tư vấn</h3>
											<ul>
												<li><a href="#" title="#">Tư vấn thảm sàn thể thao</a></li>
												<li><a href="#" title="#">Tư vấn cầu lông</a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-3 col-sm-12 col-xs-12">
										<div class="footer-item">
											<h3 class="footer-item-title">Chính sách</h3>
											<ul>
												<li><a href="#" title="#">Cam kết chất lượng</a></li>
												<li><a href="#" title="#">Chính sách bán hàng</a></li>
												<li><a href="#" title="#">Chính sách đổi - trả hàng</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-list-menu-end">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-3">
								<img src="assets/images/banner/dtb.png" alt="logo" class="logo-footer-end">
							</div>
							<div class="col-xs-12 col-sm-4 col-md-6">
								<ul>
									<li><strong>VP Hà Nội: </strong><span>Khu liên hợp thể thao Thành Đô ĐH Thành Đô – Kim Chung – Hoài Đức – Hà Nội.</span></li>
									<li><strong>VP Đà Nẵng: </strong><span>1046 Ngô Quyền, Quận Sơn Trà, Tp Đà Nẵng.</span></li>
									<li><strong>VP TP. Hồ Chí Minh: </strong><span>493/8 Lê Đức Thọ, P.16, Gò Vấp.</span></li>
									<li><strong>Email: </strong><span>thegioithethao.vn@gmail.com</span></li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3">
								<h3>Tìm hiểu chúng tôi qua</h3>
								<ul class="ftSocial list-inline">
									<li><a href="#" title="facebook"><img src="assets/images/icons/facebook.svg"></a></li>
									<li><a href="#" title="facebook"><img src="assets/images/icons/google.svg"></a></li>
									<li><a href="#" title="facebook"><img src="assets/images/icons/twitter.svg"></a></li>
									<li><a href="#" title="facebook"><img src="assets/images/icons/youtube.svg"></a></li>
									<li><a href="#" title="facebook"><img src="assets/images/icons/instagram.svg"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</footer>

	</div>

	<script type="text/javascript" src="assets/bundles/vendor.js"></script>
	<script type="text/javascript" src="assets/bundles/script.js"></script>

</body>
</html>