$color_3: #777777;
$background_gray: rgba(222,29,58,1);
$background_white: transparent;

/* Header */
header {
	.header-topbar {
		background: $backgrooundtop;
		padding: 8px 0;
		.list-address {
			li {
				margin-right: 30px;
			}
			img {
				width: 14px;
				height: 14px;
				margin-right: 10px;
			}
			span {
				font-family: $RobotoRegular;
				font-size: 13px;
				color: $gray;
				line-height: 18px;
			}
		}
	}
	.logo-line {
		padding: 16px 0;
	}
	.menu-primary {
		background: #172D61;
		.menu-item {
			font-size: 15px;
			color: $white;
			letter-spacing: 1px;
			font-weight: bold;
			line-height: 4.5rem;
			padding: 0 1.5rem;
			text-transform: uppercase;
			&:hover {
				transition: $transition;
				background-color: $background_gray !important;
			}
			&:focus {
				background-color: $background_gray !important;
			}
		}
		@media (min-width: 991px) and (max-width: 1200px) {
				font-size: 10px;
		}
	}
	.dropdown {
		a {
			&:after {
				content: "";
				background: url(../images/icons/arrow-menu.svg) no-repeat;
				width: 10px;
				height: 9px;
				background-size: contain;
				top: 46%;
				right: 5px;
				position: absolute;
			}
		}
		a.tran:after {
			transition: all 0.3s ease;
			top: 41%;
			transform: rotate(180deg);
			-moz-transform: rotate(180deg);
    		-webkit-transform: rotate(180deg);
    		-o-transform: rotate(180deg);
		}
	}
	.dropdown-menu {
		display: none;
		.dropdown-item {
			font-size: 1.4rem;
			text-transform: none;
			line-height: 4.3rem;
			border-bottom: 0.1rem solid #f3f3f3;
			color: $color_3;
			font-weight: 400;
			background-color: $background_white;
		}
	}
	.dropdown-menu.hover {
		display: block;
	}
	.header-mobile {
		display: none;
	}
	@media (max-width: 991px) {
		.header-topbar, .logo-line, .menu-top {
			display: none;
		}
		.header-mobile {
			display: block;
			.navbar-brand {
				width: 50%;
				position: relative;
				img {
					position: absolute;
				}
			}
			.navbar-toggler {
				background-color: transparent;
				border: none;
				position: absolute;
				top: 30px;
				right: 20px;
				.icon-bar {
					background-color: $red;
					height: 4px;
					display: block;
					margin-bottom: 3px;
					transition: all 0.2s;
				}
				.icon-bar:nth-child(1) {
					width: 28px;
				}
				.icon-bar:nth-child(2) {
					width: 25px;
				}
				.icon-bar:nth-child(3) {
					width: 28px;
					margin-bottom: 0;
				}
			}
			.navbar-collapse {
				background: $white;
				margin-top: 100px;
				.nav-item {
					border-bottom: 1px solid $border;
				}
				a {
					font-size: 15px;
					color: $title;
					letter-spacing: 1px;
					font-weight: bold;
					line-height: 4.5rem;
					padding: 0 1.5rem;
					text-transform: uppercase;
				}
				.dropdown-menu {
					transition: all 0.3s ease;
					background: transparent;
					width: 100%;
					padding: 0 30px;
					.dropdown-item {
						width: 100%;
						display: inline-block;
					}
				}
				.dropdown-toggle {
					&:after {
						right: 20px;
					}
				}
				.dropdown.open {
					transition: all 0.3s ease;
					.dropdown-toggle:after {
						top: 5%;
						right: 20px;
						transition: all 0.3s ease;
					}
					.dropdown-menu {
						transition: all 0.3s ease;
						a:after {
							display: none;
						}
					}
				}
			}
		}
	}
}
