html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type="text"], input[type="password"], input[type="search"], textarea, select, button[type="submit"] { 
    outline: none;
}
a:hover {
	text-decoration: none;
	color: #333;
}
img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
button { outline: none }

.form-control:focus {
    border: 1px solid #ccc;
    box-shadow: none;
}
/*------------------------------------
	Global
--------------------------------------*/

body {
  font-family: $RobotoRegular;
  font-size: 14px;
  line-height: 1.714;
  color: #555;
  background: #fff;
}
.alignnone{margin:5px 20px 20px 0;}
.aligncenter,div.aligncenter{display:block;margin:5px auto 5px auto;}
.alignright{float:right;margin:5px 0 20px 20px;}
.alignleft{float:left;margin:5px 20px 20px 0;}
.aligncenter{display:block;margin:5px auto 5px auto;}
a img.alignright{float:right;margin:5px 0 20px 20px;}
a img.alignnone{margin:5px 20px 20px 0;}
a img.alignleft{float:left;margin:5px 20px 20px 0;}
a img.aligncenter{display:block;margin-left:auto;margin-right:auto;}
.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;padding:5px 3px 10px;text-align:center;}
.wp-caption.alignnone{margin:5px 20px 20px 0;}
.wp-caption.alignleft{margin:5px 20px 20px 0;}
.wp-caption.alignright{margin:5px 0 20px 20px;}
.wp-caption img{border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto;}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px;}

@mixin title($font-size, $font-weight, $color,$color-hover) {
	font-size: $font-size;
	font-weight: $font-weight;
	color: $color;
	&:hover {
		color: $color-hover;
		transition: $transition;
	}
}
.category-title {
	border-left: 3px solid $red;
	padding-left: 10px;
	margin-bottom: 20px;
	@include title(20px,700,$title,$red);
	@media (max-width: 991px) {
		margin-bottom: 30px;
	}
	a {
		@include title(20px,700,$title,$red);
		line-height: 30px;
		text-transform: capitalize;
	}
}

.post-content {
	@include title(14px,normal,$content,$content);
	line-height: 20px;
}
strong {
	color: $black;
	font-weight: bold;
}

	.photo {
		width: 100%;
		float: left;
		position: relative;
		img {
			object-fit: cover;
			display: block;
			transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
		}
		&:hover {
			img {
				box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
				margin-top: 0;
			}
			.glow {
				transform: rotate(45deg) translate(450%, 0);
				transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
			}
			.glow-wrap {
				margin-top: 0;
			}
		}
		.glow-wrap {
			overflow: hidden;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			margin-top: -10px;
		}
		.glow {
			display: block;
			position: absolute;
			width: 40%;
			height: 200%;
			background: rgba(255,255,255,.2);
			top: 0;
			filter: blur(5px);
			transform: rotate(45deg) translate(-450%, 0);
			transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
		}
	}

.post-title {
	margin-bottom: 5px;
	a {
		@include title(14px,900,$title,$red);
	}
}
#breadcrumb {
	padding: 20px 0;
	img {
		width: 7px;
		height: 7px;
	}
	a,span {
		font-size: 12px;
	}
	a {
		color: $colormenu;
		&:hover {
			color: $red;
		}
	}
	span {
		color: $beadrum;
	}
}

.blog-pagination {
	.wp-pagenavi {
		span, a {
			border: 1px solid $pagination;
			padding: 7px 14px;
			font-size: 14px;
			display: inline-block;
			margin-right: 10px;
		}
		span.current {
			background: $red;
			color: $white;
			border: none;
		}
		a.page {
			background: $pagibackground;
			color: $content;
			&:hover {
				@extend span.current;
			}
		}
	}
}

.list-item.lien-quan {
	.item {
		margin: 22px 0;
		position: relative;
		.video-title {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
			-o-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			@media (max-width: 767px) {
				position: static;
				transform: none;
			}
		}
	}
}
.post-lien-quan {
	padding: 40px 0;
	background: $backgroundlienquan;
	border-top: 1px solid $border;
	.category-title {
		margin-left: 15px;
	}
	.lien-quan-item {
		@media (max-width: 991px) {
			margin-bottom: 20px;
		}
	}
	.post-title {
		margin: 12px 0 8px;
		a {
			font-size: 16px;
			line-height: 22px;

		}
	}
}