$RobotoRegular: 'Roboto-Regular';
$backgrooundtop: #F5F7FA;
$white: #ffffff;
$gray: #4A4A4A;
$title: #2C2C2C;
$content: #4A4A4A;
$red: #DF2437;
$border: #E5E7EB;
$colorinput: #666666;
$black: #000000;
$colormenu: #172D61;
$beadrum: #9B9B9B;
$hotline: #001219;
$borderbottom: #D8D8D8;
$transition: all 0.4s ease;