$RobotoRegular: 'Roboto-Regular';
$backgrooundtop: #F5F7FA;
$white: #ffffff;
$gray: #4A4A4A;
$title: #2C2C2C;
$content: #4A4A4A;
$red: #DF2437;
$border: #E5E7EB;
$colorinput: #666666;
$black: #000000;
$colormenu: #172D61;
$transition: all 0.4s ease;
$information-320: "and (max-width : 320px)";
$information-768: "and (max-width : 768px)";
$information-992: "and (max-width : 992px)";
$information-1200: "and (max-width : 1200px)";