@font-face{
    font-family: Roboto-Regular;
    src: url(../fonts/Robotoregular.ttf);
    font-weight: normal;
}
@font-face{
    font-family: Awesome;
    src: url(../fonts/fontawesome-webfont.eot);
    src: url(../fonts/fontawesome-webfont.svg);
    src: url(../fonts/fontawesome-webfont.ttf);
    src: url(../fonts/fontawesome-webfont.woff);
    src: url(../fonts/fontawesome-webfont.woff2);
    font-weight: normal;
}